<%= form_for(@fortress_guard) do |f| %>
  <% if @fortress_guard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fortress_guard.errors.count, "error") %> prohibited this fortress_guard from being saved:</h2>

      <ul>
      <% @fortress_guard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result_no %><br>
    <%= f.number_field :result_no %>
  </div>
  <div class="field">
    <%= f.label :generate_no %><br>
    <%= f.number_field :generate_no %>
  </div>
  <div class="field">
    <%= f.label :e_no %><br>
    <%= f.number_field :e_no %>
  </div>
  <div class="field">
    <%= f.label :pysics %><br>
    <%= f.number_field :pysics %>
  </div>
  <div class="field">
    <%= f.label :electric_shock %><br>
    <%= f.number_field :electric_shock %>
  </div>
  <div class="field">
    <%= f.label :cold %><br>
    <%= f.number_field :cold %>
  </div>
  <div class="field">
    <%= f.label :flame %><br>
    <%= f.number_field :flame %>
  </div>
  <div class="field">
    <%= f.label :saint_devil %><br>
    <%= f.number_field :saint_devil %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
