<h1>属性防御一覧</h1>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
        <p class="formNum">テキストフォームの隣に赤い破線がある項目は数値検索です。<br>
        「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。<br>
        OR指定と範囲指定を同時に行うことはできません。</p>
        <p><span id="example_open" class="example_select pointer" onclick="example_open(true)">入力例（クリックで開きます）<br></span>
        <span id="example_close" class="example_select pointer" style="display:none;" onclick="example_open(false)">入力例（クリックで閉じます）<br></span>
        <div id="example" style="display:none;">
            <p class="formNum">数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット<br>
            「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。</p>
        </div></p>
<%= search_form_for @search do |f| %>
<table id="search_close" class="table table-striped table-bordered table-hover" style="display:none;" onclick="search_open(true);">

  <tbody>
  <tr><td colspan="2" style="cursor:pointer;">絞り込み検索<span style="font-size:80%">(クリックで開きます)</span></td></tr>
  </tbody>
</table>

<table id="search_table" class="table table-striped table-bordered table-hover">

  <tbody>
  <tr><td colspan="2" style="cursor:pointer;" onclick="search_open(false);">絞り込み検索<span style="font-size:80%">(クリックで閉じます)</span></td></tr>
  <tr><td><%= f.label :result_no_form, '更新回' %></td>
    <td class="formNum"><%= text_field_tag :result_no_form, @result_no_form %></td></tr>
  <tr><td><%= f.label :e_no_form, 'Eno' %></td>
    <td class="formNum"><%= text_field_tag :e_no_form, @e_no_form %></td></tr>
  <tr><td><%= f.label :p_name_form, 'キャラクター名' %></td>
    <td class="formText"><%= text_field_tag :p_name_form, @p_name_form %></td></tr>
  <tr><td><%= f.label :pysics_form, '物理防御' %></td>
    <td class="formText"><%= text_field_tag :pysics_form, @pysics_form %></td></tr>
  <tr><td><%= f.label :electric_shock_form, '電撃防御' %></td>
    <td class="formText"><%= text_field_tag :electric_shock_form, @electric_shock_form %></td></tr>
  <tr><td><%= f.label :cold_form, '冷気防御' %></td>
    <td class="formText"><%= text_field_tag :cold_form, @cold_form %></td></tr>
  <tr><td><%= f.label :flame_form, '火炎防御' %></td>
    <td class="formText"><%= text_field_tag :flame_form, @flame_form %></td></tr>
  <tr><td><%= f.label :saint_devil_form, '聖魔防御' %></td>
    <td class="formText"><%= text_field_tag :saint_devil_form, @saint_devil_form %></td></tr>
  <tr><td></td><td>
    <%= f.submit '検索する' %>
    </td></tr>
</tbody>
</table>
 <% end %>
   </div>
  </div>
</div>
<%= paginate(@fortress_guards) %><br>
ヒット数：<%= @count %>件<br><br>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :result_no,'更新回', default_order: :desc) %></th>
      <th><%= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc) %></th>
      <th style="border-bottom: 0.2em solid #444;"><%= sort_link(@search, :pysics, '物理', default_order: :desc) %></th>
      <th style="border-bottom: 0.2em solid #ee8;"><%= sort_link(@search, :electric_shock, '電撃', default_order: :desc) %></th>
      <th style="border-bottom: 0.2em solid #4cc;"><%= sort_link(@search, :cold, '冷気', default_order: :desc) %></th>
      <th style="border-bottom: 0.2em solid #c44;"><%= sort_link(@search, :flame, '火炎', default_order: :desc) %></th>
      <th style="border-bottom: 0.2em solid #4c4;"><%= sort_link(@search, :saint_devil, '聖魔', default_order: :desc) %></th>
      <th>結果リンク</th>
    </tr>
  </thead>

  <tbody>
    <% @fortress_guards.each do |fortress_guard| %>
      <tr>
        <td><%= fortress_guard.result_no %></td>
        <td><%= fortress_guard.p_name.name.html_safe + "(" + sprintf("%d",fortress_guard.e_no) + ")" %></td>
        <td><%= fortress_guard.pysics %></td>
        <td><%= fortress_guard.electric_shock %></td>
        <td><%= fortress_guard.cold %></td>
        <td><%= fortress_guard.flame %></td>
        <td><%= fortress_guard.saint_devil %></td>
    	<td><%= link_to " 結果", "http://blacktea.sakura.ne.jp/teaconvini/RESULT/c"+sprintf("%04d",fortress_guard.e_no)+".html", :target => "_blank" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>
<%= paginate(@fortress_guards) %>
