<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @fortress_guard.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @fortress_guard.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @fortress_guard.e_no %>
</p>

<p>
  <strong>Pysics:</strong>
  <%= @fortress_guard.pysics %>
</p>

<p>
  <strong>Electric shock:</strong>
  <%= @fortress_guard.electric_shock %>
</p>

<p>
  <strong>Cold:</strong>
  <%= @fortress_guard.cold %>
</p>

<p>
  <strong>Flame:</strong>
  <%= @fortress_guard.flame %>
</p>

<p>
  <strong>Saint devil:</strong>
  <%= @fortress_guard.saint_devil %>
</p>

<%= link_to 'Edit', edit_fortress_guard_path(@fortress_guard) %> |
<%= link_to 'Back', fortress_guards_path %>
