<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @multiple_buying.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @multiple_buying.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @multiple_buying.e_no %>
</p>

<p>
  <strong>Battle no:</strong>
  <%= @multiple_buying.battle_no %>
</p>

<p>
  <strong>Multiple buying:</strong>
  <%= @multiple_buying.multiple_buying %>
</p>

<%= link_to 'Edit', edit_multiple_buying_path(@multiple_buying) %> |
<%= link_to 'Back', multiple_buyings_path %>
