<%= form_for(@castle_structure_major_type_num) do |f| %>
  <% if @castle_structure_major_type_num.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@castle_structure_major_type_num.errors.count, "error") %> prohibited this castle_structure_major_type_num from being saved:</h2>

      <ul>
      <% @castle_structure_major_type_num.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result_no %><br>
    <%= f.number_field :result_no %>
  </div>
  <div class="field">
    <%= f.label :generate_no %><br>
    <%= f.number_field :generate_no %>
  </div>
  <div class="field">
    <%= f.label :e_no %><br>
    <%= f.number_field :e_no %>
  </div>
  <div class="field">
    <%= f.label :build_num %><br>
    <%= f.number_field :build_num %>
  </div>
  <div class="field">
    <%= f.label :guard_num %><br>
    <%= f.number_field :guard_num %>
  </div>
  <div class="field">
    <%= f.label :goods_num %><br>
    <%= f.number_field :goods_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
