<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @castle_structure_major_type_num.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @castle_structure_major_type_num.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @castle_structure_major_type_num.e_no %>
</p>

<p>
  <strong>Build num:</strong>
  <%= @castle_structure_major_type_num.build_num %>
</p>

<p>
  <strong>Guard num:</strong>
  <%= @castle_structure_major_type_num.guard_num %>
</p>

<p>
  <strong>Goods num:</strong>
  <%= @castle_structure_major_type_num.goods_num %>
</p>

<%= link_to 'Edit', edit_castle_structure_major_type_num_path(@castle_structure_major_type_num) %> |
<%= link_to 'Back', castle_structure_major_type_nums_path %>
