<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @status.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @status.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @status.e_no %>
</p>

<p>
  <strong>Acc profit:</strong>
  <%= @status.acc_profit %>
</p>

<p>
  <strong>Rp:</strong>
  <%= @status.rp %>
</p>

<p>
  <strong>Repute:</strong>
  <%= @status.repute %>
</p>

<p>
  <strong>Charm:</strong>
  <%= @status.charm %>
</p>

<p>
  <strong>Tact:</strong>
  <%= @status.tact %>
</p>

<p>
  <strong>Smile:</strong>
  <%= @status.smile %>
</p>

<p>
  <strong>Elegance:</strong>
  <%= @status.elegance %>
</p>

<p>
  <strong>Knowledge:</strong>
  <%= @status.knowledge %>
</p>

<p>
  <strong>Perseverance:</strong>
  <%= @status.perseverance %>
</p>

<p>
  <strong>Funds:</strong>
  <%= @status.funds %>
</p>

<p>
  <strong>Exp:</strong>
  <%= @status.exp %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
