<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @name.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @name.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @name.e_no %>
</p>

<p>
  <strong>Name:</strong>
  <%= @name.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @name.nickname %>
</p>

<%= link_to 'Edit', edit_name_path(@name) %> |
<%= link_to 'Back', names_path %>
