<p id="notice"><%= notice %></p>

<p>
  <strong>Buy type:</strong>
  <%= @buy_type_list.buy_type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @buy_type_list.name %>
</p>

<%= link_to 'Edit', edit_buy_type_list_path(@buy_type_list) %> |
<%= link_to 'Back', buy_type_lists_path %>
