<h1>四城半データ小屋</h1>
<p>このサイトでは<a href="http://blacktea.sakura.ne.jp/teaconvini/" target="_blank">四畳半魔王城～本日営業中！～</a>を解析して得られる情報を扱っています。<br>
データ更新は本家の圧縮結果が公開されてから行います。</p><br>
<p>第<%= @last_result %>回更新結果まで反映済です。</p>

<div class="col-lg-12">
  <div class="bs-component">
    <div class="well well-sm">
      <h2>サイトマップ</h2>
      <ul>
        <li>個人データ</li>
	    <ul>
          <li><%= link_to "アイテム一覧", items_path %></li>
          <li><%= link_to "ステータス一覧", statuses_path %></li>
          <li><%= link_to "城塞データ一覧", fortress_all_data_path %></li>
          <li><%= link_to "お城構成データ一覧", castle_structures_path %></li>
          <li><%= link_to "精算結果一覧", payoffs_path %></li>
          <br>
          <li><%= link_to "城塞データ(抜粋)一覧", fortress_data_path %></li>
          <li><%= link_to "属性防御一覧", fortress_guards_path %></li>
          <li><%= link_to "城状況一覧", castle_condition_texts_path %></li>
        </ul>
        <li>結果データ</li>
	    <ul>
              <li><%= link_to "次回の組み合わせ一覧", next_battles_path %></li>
        </ul>
      </ul>
    </div>
    <div class="well well-sm">
      <h2>更新履歴</h2>
      <ul>
        <li>2018/2/9</li>
        <ul>
          <li><%= link_to "お城構成データ一覧", castle_structures_path %>を追加</li>
          <li><%= link_to "精算結果一覧", payoffs_path %>を追加</li>
          <li><%= link_to "次回の組み合わせ一覧", next_battles_path %>に建築、護衛、商品別の構成数を追加</li>
        <ul>
        <li>2018/2/1</li>
        <ul>
          <li><%= link_to "次回の組み合わせ一覧", next_battles_path %>を追加</li>
          <li><%= link_to "城塞データ一覧", fortress_all_data_path %>に次回のブロック番号での検索機能を追加</li>
        </ul>
        <li>2018/1/26</li>
        <ul>
          <li><%= link_to "ステータス一覧", statuses_path %>を公開</li>
          <li><%= link_to "城塞データ一覧", fortress_all_data_path %>を公開</li>
          <li><%= link_to "城塞データ(抜粋)一覧", fortress_data_path %>を公開</li>
          <li><%= link_to "属性防御一覧", fortress_guards_path %>を公開</li>
          <li><%= link_to "城状況一覧", castle_condition_texts_path %>を公開</li>
        </ul>
        <li>2018/1/21</li>
        <ul>
          <li><%= link_to "アイテム一覧", items_path %>を公開</li>
        </ul>
      </ul>
    </div>
  </div>
</div>

