<%= form_for(@fortress_datum) do |f| %>
  <% if @fortress_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fortress_datum.errors.count, "error") %> prohibited this fortress_datum from being saved:</h2>

      <ul>
      <% @fortress_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result_no %><br>
    <%= f.number_field :result_no %>
  </div>
  <div class="field">
    <%= f.label :generate_no %><br>
    <%= f.number_field :generate_no %>
  </div>
  <div class="field">
    <%= f.label :e_no %><br>
    <%= f.number_field :e_no %>
  </div>
  <div class="field">
    <%= f.label :grand %><br>
    <%= f.number_field :grand %>
  </div>
  <div class="field">
    <%= f.label :caution %><br>
    <%= f.number_field :caution %>
  </div>
  <div class="field">
    <%= f.label :continuance %><br>
    <%= f.number_field :continuance %>
  </div>
  <div class="field">
    <%= f.label :enthusiasm %><br>
    <%= f.number_field :enthusiasm %>
  </div>
  <div class="field">
    <%= f.label :goodwill %><br>
    <%= f.number_field :goodwill %>
  </div>
  <div class="field">
    <%= f.label :forecast %><br>
    <%= f.number_field :forecast %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :high_grade %><br>
    <%= f.number_field :high_grade %>
  </div>
  <div class="field">
    <%= f.label :mob %><br>
    <%= f.number_field :mob %>
  </div>
  <div class="field">
    <%= f.label :drink %><br>
    <%= f.number_field :drink %>
  </div>
  <div class="field">
    <%= f.label :regalia %><br>
    <%= f.number_field :regalia %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
