%p#notice= notice
%p
  %strong Result no:
  = @fortress_datum.result_no
%p
  %strong Generate no:
  = @fortress_datum.generate_no
%p
  %strong E no:
  = @fortress_datum.e_no
%p
  %strong Grand:
  = @fortress_datum.grand
%p
  %strong Caution:
  = @fortress_datum.caution
%p
  %strong Continuance:
  = @fortress_datum.continuance
%p
  %strong Enthusiasm:
  = @fortress_datum.enthusiasm
%p
  %strong Goodwill:
  = @fortress_datum.goodwill
%p
  %strong Forecast:
  = @fortress_datum.forecast
%p
  %strong Stock:
  = @fortress_datum.stock
%p
  %strong High grade:
  = @fortress_datum.high_grade
%p
  %strong Mob:
  = @fortress_datum.mob
%p
  %strong Drink:
  = @fortress_datum.drink
%p
  %strong Regalia:
  = @fortress_datum.regalia
= link_to 'Edit', edit_fortress_datum_path(@fortress_datum)
|
= link_to 'Back', fortress_data_path
