<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @fortress_datum.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @fortress_datum.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @fortress_datum.e_no %>
</p>

<p>
  <strong>Grand:</strong>
  <%= @fortress_datum.grand %>
</p>

<p>
  <strong>Caution:</strong>
  <%= @fortress_datum.caution %>
</p>

<p>
  <strong>Continuance:</strong>
  <%= @fortress_datum.continuance %>
</p>

<p>
  <strong>Enthusiasm:</strong>
  <%= @fortress_datum.enthusiasm %>
</p>

<p>
  <strong>Goodwill:</strong>
  <%= @fortress_datum.goodwill %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @fortress_datum.forecast %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @fortress_datum.stock %>
</p>

<p>
  <strong>High grade:</strong>
  <%= @fortress_datum.high_grade %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @fortress_datum.mob %>
</p>

<p>
  <strong>Drink:</strong>
  <%= @fortress_datum.drink %>
</p>

<p>
  <strong>Regalia:</strong>
  <%= @fortress_datum.regalia %>
</p>

<%= link_to 'Edit', edit_fortress_datum_path(@fortress_datum) %> |
<%= link_to 'Back', fortress_data_path %>
