= form_for(@unit_orig_name_list) do |f|
  - if @unit_orig_name_list.errors.any?
    #error_explanation
      %h2
        = pluralize(@unit_orig_name_list.errors.count, "error")
        prohibited this unit_orig_name_list from being saved:
      %ul
        - @unit_orig_name_list.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :orig_name_id
    %br/
    = f.number_field :orig_name_id
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
