<p id="notice"><%= notice %></p>

<p>
  <strong>Orig name:</strong>
  <%= @unit_orig_name_list.orig_name_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit_orig_name_list.name %>
</p>

<%= link_to 'Edit', edit_unit_orig_name_list_path(@unit_orig_name_list) %> |
<%= link_to 'Back', unit_orig_name_lists_path %>
