= form_for(@megane_type_list) do |f|
  - if @megane_type_list.errors.any?
    #error_explanation
      %h2
        = pluralize(@megane_type_list.errors.count, "error")
        prohibited this megane_type_list from being saved:
      %ul
        - @megane_type_list.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :megane_type_id
    %br/
    = f.number_field :megane_type_id
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
