<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @castle_condition_text.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @castle_condition_text.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @castle_condition_text.e_no %>
</p>

<p>
  <strong>Condition text:</strong>
  <%= @castle_condition_text.condition_text %>
</p>

<%= link_to 'Edit', edit_castle_condition_text_path(@castle_condition_text) %> |
<%= link_to 'Back', castle_condition_texts_path %>
