= form_for(@payoff) do |f|
  - if @payoff.errors.any?
    #error_explanation
      %h2
        = pluralize(@payoff.errors.count, "error")
        prohibited this payoff from being saved:
      %ul
        - @payoff.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :result_no
    %br/
    = f.number_field :result_no
  .field
    = f.label :generate_no
    %br/
    = f.number_field :generate_no
  .field
    = f.label :e_no
    %br/
    = f.number_field :e_no
  .field
    = f.label :mob
    %br/
    = f.number_field :mob
  .field
    = f.label :payoff
    %br/
    = f.number_field :payoff
  .field
    = f.label :attack
    %br/
    = f.number_field :attack
  .field
    = f.label :support
    %br/
    = f.number_field :support
  .field
    = f.label :defense
    %br/
    = f.number_field :defense
  .field
    = f.label :destroy
    %br/
    = f.number_field :destroy
  .field
    = f.label :selling
    %br/
    = f.number_field :selling
  .field
    = f.label :income
    %br/
    = f.number_field :income
  .field
    = f.label :spending
    %br/
    = f.number_field :spending
  .field
    = f.label :profit
    %br/
    = f.number_field :profit
  .field
    = f.label :loss
    %br/
    = f.number_field :loss
  .actions
    = f.submit
