<h1>精算結果一覧</h1>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-md-12">
        <p class="formNum">テキストフォームの隣に赤い破線がある項目は数値検索です。<br>
        「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。<br>
        OR指定と範囲指定を同時に行うことはできません。</p>
        <p class="formText">テキストフォームの隣に青い太線がある項目は文字検索です。<br>
        半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます<br>
        ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。</p>
        <p><span id="example_open" class="example_select pointer" onclick="example_open(true)">入力例（クリックで開きます）<br></span>
        <span id="example_close" class="example_select pointer" style="display:none;" onclick="example_open(false)">入力例（クリックで閉じます）<br></span>
        <div id="example" style="display:none;">
            <p class="formNum">数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット<br>
            「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。</p>
            <p class="formText">「カルマ」と入力　→　「カルマ」の単語を含むものが検索結果にヒット<br>
            「"火炎商品"」　→　完全一致で「火炎商品」のみ検索結果にヒット<br>
            「-火炎商品」　→　「火炎商品」の単語を含まないものが検索結果にヒット<br>
            「-"火炎商品"」　→　完全一致で「火炎商品」以外が検索結果にヒット。カルマ火炎商品、徳火炎商品はヒットします。<br>
            「火炎商品 -"火炎商品"」　→　「火炎商品」が含まれる単語で完全一致の「火炎商品」以外がヒット。つまり、カルマ火炎商品と徳火炎商品の二つがヒットします。<br>
            「カルマ 火炎」　→　「カルマ」と「火炎」の2つの単語が含まれるものが検索結果にヒット<br>
            「カルマ 火炎/冷気」　→　「カルマ」が含まれ、さらに「火炎」か「冷気」を含むものが検索結果にヒット<br>
            「-カルマ -火炎」　→　「カルマ」もしくは「火炎」という単語が含まれるものを検索結果から除外</p></div></p>
<%= search_form_for @search do |f| %>
<table id="search_close" class="table table-striped table-bordered table-hover" style="display:none;" onclick="search_open(true);">

  <tbody>
  <tr><td colspan="2" style="cursor:pointer;">絞り込み検索<span style="font-size:80%">(クリックで開きます)</span></td></tr>
  </tbody>
</table>

<table id="search_table" class="table table-striped table-bordered table-hover">

  <tbody>
  <tr><td colspan="4" style="cursor:pointer;" onclick="search_open(false);">絞り込み検索<span style="font-size:80%">(クリックで閉じます)</span></td></tr>
  <tr><td><%= f.label :result_no_form, '更新回' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :result_no_form, @result_no_form %></td></tr>
  <tr><td><%= f.label :e_no_form, 'Eno' %></td>
    <td class="formNum"><%= text_field_tag :e_no_form, @e_no_form %></td>
  <td><%= f.label :p_name_form, 'キャラクター名' %></td>
    <td class="formText"><%= text_field_tag :p_name_form, @p_name_form %></td></tr>
  <tr><td><%= f.label :mob_form, 'モブ売り' %></td>
    <td class="formNum"><%= text_field_tag :mob_form, @mob_form %></td>
  <td><%= f.label :payoff_form, '勇者売上高' %></td>
    <td class="formNum"><%= text_field_tag :payoff_form, @payoff_form %></td></tr>
  <tr><td><%= f.label :attack_form, '攻撃戦果補正' %></td>
    <td class="formNum"><%= text_field_tag :attack_form, @attack_form %></td>
  <td><%= f.label :support_form, '支援戦果補正' %></td>
    <td class="formNum"><%= text_field_tag :support_form, @support_form %></td></tr>
  <tr><td><%= f.label :defense_form, '防衛戦果補正' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :defense_form, @defense_form %></td></tr>
  <tr><td><%= f.label :defeat_form, '撃墜数補正' %></td>
    <td class="formNum"><%= text_field_tag :defeat_form, @defeat_form %></td>
  <td><%= f.label :speial_form, '特別補正' %></td>
    <td class="formNum"><%= text_field_tag :special_form, @special_form %></td></tr>
  <tr><td><%= f.label :selling_form, '販売数補正' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :selling_form, @selling_form %></td></tr>
  <tr><td><%= f.label :income_form, '合計現金収入' %></td>
    <td class="formNum"><%= text_field_tag :income_form, @income_form %></td>
  <td><%= f.label :spending_form, '予算消費' %></td>
    <td class="formNum"><%= text_field_tag :spending_form, @spending_form %></td></tr>
  <tr><td><%= f.label :profit_form, '粗利益' %></td>
    <td class="formNum"><%= text_field_tag :profit_form, @profit_form %></td>
  <td><%= f.label :loss_form, 'ロス高' %></td>
    <td class="formNum"><%= text_field_tag :loss_form, @loss_form %></td></tr>
  <tr><td><%= f.label :block_no_form, 'ブロック番号' %></td>
    <td colspan="3" class="formNum"><%= text_field_tag :block_no_form, @block_no_form %></td></tr>
  <tr><td></td><td colspan="3">
    <%= f.submit '検索する' %>
    </td></tr>
</tbody>
</table>
 <% end %>
   </div>
  </div>
</div>
<%= paginate(@payoffs) %><br>
ヒット数：<%= @count %>件<br><br>

<div class="bs-docs-section">
  <div class="row">
    <div class="col-lg-12">
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@search, :result_no,'更新回', default_order: :desc) %></th>
      <th><%= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc) %></th>
      <th><%= sort_link(@search, :mob, 'モブ売り', default_order: :desc) %></th>
      <th><%= sort_link(@search, :payoff, '売上', default_order: :desc) %></th>
      <th><%= sort_link(@search, :attack, '攻撃', default_order: :desc) %></th>
      <th><%= sort_link(@search, :support, '支援', default_order: :desc) %></th>
      <th><%= sort_link(@search, :defense, '防衛', default_order: :desc) %></th>
      <th><%= sort_link(@search, :defeat, '撃墜', default_order: :desc) %></th>
      <th><%= sort_link(@search, :special, '特別', default_order: :desc) %></th>
      <th><%= sort_link(@search, :selling, '販売数', default_order: :desc) %></th>
      <th><%= sort_link(@search, :income, '収入', default_order: :desc) %></th>
      <th><%= sort_link(@search, :spending, '予算消費', default_order: :asc) %></th>
      <th><%= sort_link(@search, :profit, '粗利', default_order: :desc) %></th>
      <th><%= sort_link(@search, :loss, 'ロス高', default_order: :asc) %></th>
      <th colspan="2">結果リンク</th>
    </tr>
  </thead>

  <tbody>
    <% @payoffs.each do |payoff| %>
      <tr>
        <td><%= payoff.result_no %></td>
        <td><%= payoff.p_name.name.html_safe + "(" + sprintf("%d",payoff.e_no) + ")" %></td>
        <td><%= payoff.mob %></td>
        <td><%= payoff.payoff %></td>
        <td><%= payoff.attack %></td>
        <td><%= payoff.support %></td>
        <td><%= payoff.defense %></td>
        <td><%= payoff.defeat %></td>
        <td><%= payoff.special %></td>
        <td><%= payoff.selling %></td>
        <td><%= payoff.income %></td>
        <td><%= payoff.spending %></td>
        <td><%= payoff.profit %></td>
        <td><%= payoff.loss %></td>
    	<td><%= link_to " 結果", "http://blacktea.sakura.ne.jp/teaconvini/RESULT/c"+sprintf("%04d",payoff.e_no)+".html", :target => "_blank" %></td>
        <td><%= if  payoff.result_no < @last_result then
                    generate_text = payoff.generate_no > 0 ? "_"+sprintf("%d",payoff.generate_no) : "";
                    link_to " 過去結果", "http://teacon.kitunebi.com/TCV_001/"+sprintf("%03d", payoff.result_no)+generate_text+"/RESULT/c"+sprintf("%04d",payoff.e_no)+".html", :target => "_blank"
                end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
  </div>
</div>
<%= paginate(@payoffs) %>
