<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @payoff.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @payoff.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @payoff.e_no %>
</p>

<p>
  <strong>Mob:</strong>
  <%= @payoff.mob %>
</p>

<p>
  <strong>Payoff:</strong>
  <%= @payoff.payoff %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @payoff.attack %>
</p>

<p>
  <strong>Support:</strong>
  <%= @payoff.support %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @payoff.defense %>
</p>

<p>
  <strong>Destroy:</strong>
  <%= @payoff.destroy %>
</p>

<p>
  <strong>Selling:</strong>
  <%= @payoff.selling %>
</p>

<p>
  <strong>Income:</strong>
  <%= @payoff.income %>
</p>

<p>
  <strong>Spending:</strong>
  <%= @payoff.spending %>
</p>

<p>
  <strong>Profit:</strong>
  <%= @payoff.profit %>
</p>

<p>
  <strong>Loss:</strong>
  <%= @payoff.loss %>
</p>

<%= link_to 'Edit', edit_payoff_path(@payoff) %> |
<%= link_to 'Back', payoffs_path %>
