<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result_no %><br>
    <%= f.number_field :result_no %>
  </div>
  <div class="field">
    <%= f.label :generate_no %><br>
    <%= f.number_field :generate_no %>
  </div>
  <div class="field">
    <%= f.label :e_no %><br>
    <%= f.number_field :e_no %>
  </div>
  <div class="field">
    <%= f.label :i_no %><br>
    <%= f.number_field :i_no %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.number_field :type %>
  </div>
  <div class="field">
    <%= f.label :orig_name %><br>
    <%= f.number_field :orig_name %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :strength %><br>
    <%= f.number_field :strength %>
  </div>
  <div class="field">
    <%= f.label :fuka1 %><br>
    <%= f.number_field :fuka1 %>
  </div>
  <div class="field">
    <%= f.label :fuka2 %><br>
    <%= f.number_field :fuka2 %>
  </div>
  <div class="field">
    <%= f.label :guard_elemental %><br>
    <%= f.number_field :guard_elemental %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>
  <div class="field">
    <%= f.label :value %><br>
    <%= f.number_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
