= form_for(@elemental_list) do |f|
  - if @elemental_list.errors.any?
    #error_explanation
      %h2
        = pluralize(@elemental_list.errors.count, "error")
        prohibited this elemental_list from being saved:
      %ul
        - @elemental_list.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :elemental_id
    %br/
    = f.number_field :elemental_id
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .actions
    = f.submit
