<p id="notice"><%= notice %></p>

<p>
  <strong>Elemental:</strong>
  <%= @elemental_list.elemental_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @elemental_list.name %>
</p>

<%= link_to 'Edit', edit_elemental_list_path(@elemental_list) %> |
<%= link_to 'Back', elemental_lists_path %>
