= form_for(@castle_structure) do |f|
  - if @castle_structure.errors.any?
    #error_explanation
      %h2
        = pluralize(@castle_structure.errors.count, "error")
        prohibited this castle_structure from being saved:
      %ul
        - @castle_structure.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :result_no
    %br/
    = f.number_field :result_no
  .field
    = f.label :generate_no
    %br/
    = f.number_field :generate_no
  .field
    = f.label :e_no
    %br/
    = f.number_field :e_no
  .field
    = f.label :frame_type
    %br/
    = f.number_field :frame_type
  .field
    = f.label :i_no
    %br/
    = f.number_field :i_no
  .actions
    = f.submit
