<%= form_for(@castle_structure) do |f| %>
  <% if @castle_structure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@castle_structure.errors.count, "error") %> prohibited this castle_structure from being saved:</h2>

      <ul>
      <% @castle_structure.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :result_no %><br>
    <%= f.number_field :result_no %>
  </div>
  <div class="field">
    <%= f.label :generate_no %><br>
    <%= f.number_field :generate_no %>
  </div>
  <div class="field">
    <%= f.label :e_no %><br>
    <%= f.number_field :e_no %>
  </div>
  <div class="field">
    <%= f.label :frame_type %><br>
    <%= f.number_field :frame_type %>
  </div>
  <div class="field">
    <%= f.label :i_no %><br>
    <%= f.number_field :i_no %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
