<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @castle_structure.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @castle_structure.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @castle_structure.e_no %>
</p>

<p>
  <strong>Frame type:</strong>
  <%= @castle_structure.frame_type %>
</p>

<p>
  <strong>I no:</strong>
  <%= @castle_structure.i_no %>
</p>

<%= link_to 'Edit', edit_castle_structure_path(@castle_structure) %> |
<%= link_to 'Back', castle_structures_path %>
