%p#notice= notice
%p
  %strong Result no:
  = @market.result_no
%p
  %strong Generate no:
  = @market.generate_no
%p
  %strong Market no:
  = @market.market_no
%p
  %strong Unit type:
  = @market.unit_type
%p
  %strong Orig name:
  = @market.orig_name
%p
  %strong Name:
  = @market.name
%p
  %strong Value:
  = @market.value
%p
  %strong Attack:
  = @market.attack
%p
  %strong Biattack:
  = @market.biattack
%p
  %strong Grand:
  = @market.grand
%p
  %strong Guard elemental:
  = @market.guard_elemental
%p
  %strong Guard value:
  = @market.guard_value
%p
  %strong Forecast:
  = @market.forecast
%p
  %strong Caution:
  = @market.caution
%p
  %strong Continuance:
  = @market.continuance
%p
  %strong Enthusiasm:
  = @market.enthusiasm
%p
  %strong Goodwill:
  = @market.goodwill
%p
  %strong Charge:
  = @market.charge
%p
  %strong Tokushu:
  = @market.tokushu
%p
  %strong Fuka1:
  = @market.fuka1
%p
  %strong Fuka2:
  = @market.fuka2
%p
  %strong Strength:
  = @market.strength
%p
  %strong E no:
  = @market.e_no
= link_to 'Edit', edit_market_path(@market)
|
= link_to 'Back', markets_path
