<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @market.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @market.generate_no %>
</p>

<p>
  <strong>Market no:</strong>
  <%= @market.market_no %>
</p>

<p>
  <strong>Unit type:</strong>
  <%= @market.unit_type %>
</p>

<p>
  <strong>Orig name:</strong>
  <%= @market.orig_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @market.value %>
</p>

<p>
  <strong>Attack:</strong>
  <%= @market.attack %>
</p>

<p>
  <strong>Biattack:</strong>
  <%= @market.biattack %>
</p>

<p>
  <strong>Grand:</strong>
  <%= @market.grand %>
</p>

<p>
  <strong>Guard elemental:</strong>
  <%= @market.guard_elemental %>
</p>

<p>
  <strong>Guard value:</strong>
  <%= @market.guard_value %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @market.forecast %>
</p>

<p>
  <strong>Caution:</strong>
  <%= @market.caution %>
</p>

<p>
  <strong>Continuance:</strong>
  <%= @market.continuance %>
</p>

<p>
  <strong>Enthusiasm:</strong>
  <%= @market.enthusiasm %>
</p>

<p>
  <strong>Goodwill:</strong>
  <%= @market.goodwill %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @market.charge %>
</p>

<p>
  <strong>Tokushu:</strong>
  <%= @market.tokushu %>
</p>

<p>
  <strong>Fuka1:</strong>
  <%= @market.fuka1 %>
</p>

<p>
  <strong>Fuka2:</strong>
  <%= @market.fuka2 %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @market.strength %>
</p>

<p>
  <strong>E no:</strong>
  <%= @market.e_no %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
