<p id="notice"><%= notice %></p>

<p>
  <strong>Add effect:</strong>
  <%= @add_effect_list.add_effect_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @add_effect_list.name %>
</p>

<%= link_to 'Edit', edit_add_effect_list_path(@add_effect_list) %> |
<%= link_to 'Back', add_effect_lists_path %>
