%p#notice= notice
%p
  %strong Castle condition:
  = @castle_condition_list.castle_condition_id
%p
  %strong Name:
  = @castle_condition_list.name
= link_to 'Edit', edit_castle_condition_list_path(@castle_condition_list)
|
= link_to 'Back', castle_condition_lists_path
