<p id="notice"><%= notice %></p>

<p>
  <strong>Fuka:</strong>
  <%= @fuka_list.fuka_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @fuka_list.name %>
</p>

<%= link_to 'Edit', edit_fuka_list_path(@fuka_list) %> |
<%= link_to 'Back', fuka_lists_path %>
