%h1 眼鏡ｸｲｯ回数一覧(ページ別)
%br/
.col-lg-12
  .bs-component
    %ul.breadcrumb{:style => "margin-bottom: 5px;"}
      %li= link_to "累計眼鏡ｸｲｯ回数", acc_meganes_path
      %li= link_to "眼鏡ｸｲｯ回数一覧(更新回別)", total_meganes_path
      %li 眼鏡ｸｲｯ回数一覧(ページ別)
%br/
.bs-docs-section
  .row
    .col-md-12
      %p
        眼鏡ｸｲｯ回数は丸括弧「（ ）」で囲まれた文字の中に「眼鏡」もしくは「ｸｲｯ」という単語が入っていた場合にカウントされます。
        個別メッセージ、広域メッセージ、マーケット、戦闘中でのメッセージで眼鏡に触れたものをカウントしています。
      %p.formNum
        テキストフォームの隣に赤い破線がある項目は数値検索です。
        %br/
        「/」区切りでOR、「100~」や「100~200」のように「~」をつけて範囲指定となります。
        %br/
        OR指定と範囲指定を同時に行うことはできません。
      %p.formText
        テキストフォームの隣に青い太線がある項目は文字検索です。
        %br/
        半角スペース区切りでAND、「/」区切りでOR、単語の前に「-」でNOT、単語の前後に「"」をつけて完全一致が使えます
        %br/
        ANDとORを組み合わせた時は、ANDで区切った後にORで区切るという順番になります。
      %p
        %span#example_open.example_select.pointer{:onclick => "example_open(true)"}
          入力例（クリックで開きます）
          %br/
        %span#example_close.example_select.pointer{:onclick => "example_open(false)", :style => "display:none;"}
          入力例（クリックで閉じます）
          %br/
      #example{:style => "display:none;"}
        %p.formNum
          数値入力で「100/105/110」と入力　→ 入力した項目の数値が100、105、110の結果がヒット
          %br/
          「100~」で100以上、「~100」で100以下、「-200~100」で-200～-100の範囲指定となります。
        %p.formText
          「眼鏡ｸｲｯ」と入力　→　「眼鏡ｸｲｯ」の単語を含むものが検索結果にヒット
          %br/
          「"眼鏡ｸｲｯ"」　→　完全一致で「眼鏡ｸｲｯ」のみ検索結果にヒット
          %br/
          「-眼鏡ｸｲｯ」　→　「眼鏡ｸｲｯ」の単語を含まないものが検索結果にヒット
          %br/
          「-"眼鏡ｸｲｯ"」　→　完全一致で「眼鏡ｸｲｯ」以外が検索結果にヒット。エア眼鏡ｸｲｯはヒットします。
          %br/
          「眼鏡ｸｲｯ -"眼鏡ｸｲｯ"」　→　「眼鏡ｸｲｯ」が含まれる単語で完全一致の「眼鏡ｸｲｯ」以外がヒット。つまり、エア眼鏡ｸｲｯがヒットします。
          %br/
          「眼鏡 ｸｲｯ」　→　「眼鏡」と「ｸｲｯ」の2つの単語が含まれるものが検索結果にヒット
          %br/
          「眼鏡 ｸｲｯ/ﾊﾟﾘｰﾝ」　→　「眼鏡」が含まれ、さらに「ｸｲｯ」か「ﾊﾟﾘｰﾝ」を含むものが検索結果にヒット
          %br/
          「-ｸｲｯ -ﾊﾟﾘｰﾝ」　→　「ｸｲｯ」もしくは「ﾊﾟﾘｰﾝ」という単語が含まれるものを検索結果から除外
      = search_form_for @search do |f|
        %table#search_close.table.table-striped.table-bordered.table-hover{:onclick => "search_open(true);", :style => "display:none;"}
          %tbody
            %tr
              %td{:colspan => "2", :style => "cursor:pointer;"}
                絞り込み検索
                %span{:style => "font-size:80%"} (クリックで開きます)
        %table#search_table.table.table-striped.table-bordered.table-hover
          %tbody
            %tr
              %td{:colspan => "2", :onclick => "search_open(false);", :style => "cursor:pointer;"}
                絞り込み検索
                %span{:style => "font-size:80%"} (クリックで閉じます)
            %tr
              %td= f.label :result_no_form, '更新回'
              %td.formNum= text_field_tag :result_no_form, @result_no_form
            %tr
              %td= f.label :e_no_form, 'Eno'
              %td.formNum= text_field_tag :e_no_form, @e_no_form
            %tr
              %td= f.label :p_name_form, 'キャラクター名'
              %td.formText= text_field_tag :p_name_form, @p_name_form
            %tr
              %td= f.label :megane_type_id_form, '眼鏡の扱い方'
              %td.formText= text_field_tag :megane_type_id_form, @megane_type_id_form
            %tr
              %td= f.label :megane_count_form, 'ｸｲｯ回数'
              %td.formNum= text_field_tag :megane_count_form, @megane_count_form
            %tr
              %td
              %td
                = f.submit '検索する'
= paginate(@meganes)
%br/
ヒット数：#{@count}件
%br/
%br/
.bs-docs-section
  .row
    .col-lg-12
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th= sort_link(@search, :result_no,'更新回', default_order: :desc)
            %th= sort_link(@search, :e_no,'キャラクター(Eno)', default_order: :desc)
            %th= sort_link(@search, :megane_type_id, '眼鏡の扱い方', default_order: :desc)
            %th= sort_link(@search, :megane_count, '回数', default_order: :desc)
            %th{:colspan => "2"} 結果リンク
        %tbody
          - @meganes.each do |megane|
            %tr
              %td= megane.result_no
              %td
                - if megane.e_no < 10000
                  = megane.p_name.name.html_safe + "(" + sprintf("%d",megane.e_no) + ")"
                - else
                  = megane.p_name.name.html_safe
              %td= megane.megane_type_name.name
              %td= megane.megane_count
              %td
                - if megane.e_no < 10001
                  - case megane.page_type
                    - when 1
                      = link_to " 結果", "http://blacktea.sakura.ne.jp/teaconvini/RESULT/c"+sprintf("%04d",megane.page_no)+".html", :target => "_blank"
                    - when 2
                      = link_to " 結果", "http://blacktea.sakura.ne.jp/teaconvini/RESULT/battle"+sprintf("%d",megane.page_no)+".html", :target => "_blank"
                    - when 3
                      = link_to " 結果", "http://blacktea.sakura.ne.jp/teaconvini/list.html", :target => "_blank"
                    - when 4
                      = link_to " 結果", "http://blacktea.sakura.ne.jp/teaconvini/RESULT/catalog.html", :target => "_blank"
                    - else
              %td
                - if megane.e_no < 10001
                  - if megane.result_no < @last_result
                    = generate_text = megane.generate_no > 0 ? "_"+sprintf("%d",megane.generate_no) : "";
                    - case megane.page_type
                      - when 1
                        = link_to " 過去結果", "http://teacon.kitunebi.com/TCV_001/"+sprintf("%03d", megane.result_no)+generate_text+"/RESULT/c"+sprintf("%04d",megane.page_no)+".html", :target => "_blank"
                      - when 2
                        = link_to " 過去結果", "http://teacon.kitunebi.com/TCV_001/"+sprintf("%03d", megane.result_no)+generate_text+"/RESULT/battle"+sprintf("%d",megane.page_no)+".html", :target => "_blank"
                      - when 3
                        = link_to " 過去結果", "http://teacon.kitunebi.com/TCV_001/"+sprintf("%03d", megane.result_no)+generate_text+"/list.html", :target => "_blank"
                      - when 4
                        = link_to " 過去結果", "http://teacon.kitunebi.com/TCV_001/"+sprintf("%03d", megane.result_no)+generate_text+"/RESULT/catalog.html", :target => "_blank"
= paginate(@meganes)
