<p id="notice"><%= notice %></p>

<p>
  <strong>Result no:</strong>
  <%= @megane.result_no %>
</p>

<p>
  <strong>Generate no:</strong>
  <%= @megane.generate_no %>
</p>

<p>
  <strong>E no:</strong>
  <%= @megane.e_no %>
</p>

<p>
  <strong>Page type:</strong>
  <%= @megane.page_type %>
</p>

<p>
  <strong>Page no:</strong>
  <%= @megane.page_no %>
</p>

<p>
  <strong>Megane type:</strong>
  <%= @megane.megane_type_id %>
</p>

<p>
  <strong>Megane count:</strong>
  <%= @megane.megane_count %>
</p>

<%= link_to 'Edit', edit_megane_path(@megane) %> |
<%= link_to 'Back', meganes_path %>
