!!!
%html{:lang => "ja"}
  %head
    %meta{charset: "utf-8"}
    %title= content_for?(:title) ? yield(:title) : "四城半データ小屋"
    %meta{name: "viewport", content:"width=device-width, initial-scale=1"}
    %meta{http: {equiv: "X-UA-Compatible"}, content: "IE=edge"}
    = csrf_meta_tag
    = csp_meta_tag

    = favicon_link_tag('favicon.ico')
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          = link_to "四城半データ小屋", root_path, :class => "navbar-brand"
          %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        #navbar-main.navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                個人データ
                %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "themes"}
                %li= link_to "アイテム一覧", items_path
                %li= link_to "ステータス一覧", statuses_path
                %li= link_to "城塞データ一覧", fortress_all_data_path
                %li= link_to "城塞データ＋精算結果一覧", fortress_data_and_payoffs_path
                %li= link_to "お城構成データ一覧", castle_structures_path
                %li= link_to "精算結果一覧", payoffs_path
                %li.divider
                %li= link_to "城塞データ(抜粋)一覧", fortress_data_path
                %li= link_to "属性防御一覧", fortress_guards_path
                %li= link_to "城状況一覧", castle_condition_texts_path
            %li.dropdown
              %a#themes.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                結果データ
                %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "themes"}
                %li= link_to "次回の組み合わせ一覧", next_battles_path
                %li= link_to "マーケット一覧", markets_path
                %li= link_to "多重購入一覧", multiple_buyings_path
            %li
            %li= link_to "眼鏡ｸｲｯ", acc_meganes_path
    .container
      .row
        .col-md-12
          = bootstrap_flash
          = yield
      %footer
        %p
          Twitter：#{link_to "@data_teiki", "http://twitter.com/data_teiki"}
          %br
          制作：#{link_to "@white_mns", "http://twitter.com/white_mns"}
          %br
          = link_to "プライバシーポリシー", top_page_privacy_path
          %br
          = link_to "その他ゲームのデータ小屋", "https://data.teiki.org/"
        %p
          ソースコード [#{link_to "解析部分", "https://github.com/white-mns/yojouhan_parse"}] [#{link_to "表示部分", "https://github.com/white-mns/yojouhan_rails"}]
    = render 'layouts/analytics'
